*{
    margin: 0%;
    padding: 0%;
}
.text h1{
    text-underline-offset: 
}
.container{
    width:300px;
    height: 400px;
    background-color:black;
    margin-left: 35%;
    margin-top: 15%;
    text-align: center;
    color: white;
}
.container.text{
    position: relative;
    
}
.inp1{
    border: 2px solid black;
    font-size: 20px;
    margin-top: 10%;
    color:black
}
.inp2{
    border: 2px solid black;
    font-size: 20px;
    margin-top: 5%;
    
}
p{
    margin-top: 10%;
    font-size: 20px;
}
p span{
    color: red;
}
.text button{
    width: 100px;
    height: 25px;
    background-color: blue;
    color: black;
    border-radius: 25px;
    margin-top: 20px;
}
button:hover{
    border: 2px solid blue;
    color:white;
    font-size: 15px;
    background-color: black;
}
.container h1{
    position: relative;
    margin-top: 10%;
    color: blue;
}
